@tailwind base;
@tailwind components;
@tailwind utilities;


#tsparticles{
    width: 100%;
    position: absolute;
    height: 100%;

}

.text-selection-disable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.grid-rows{
    grid-template-rows: 33% 33% 33%;
}
